.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.contact svg {
    width: 55px;
}

.contact p {
    font-size: 1em;
    color: var(--midgrey);
    font-weight: 400;
}

.contact a {
    font-size: 1.2em;
    font-weight: 700;
}