.hero-wrapper {
    padding: 100px 0;
    text-align: center;
}

.hero-wrapper h1 {
    font-size: min(15vw, 8em);
    line-height: 1em;
}

.hero-wrapper p {
    font-size: min(5.3vw, 2.8em);
    font-weight: 200;
    letter-spacing: 0.1em;
}