.project {
    padding: 1em 0;
}

.project .project-title {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: .2em;
}

.project .project-desc {
    margin-bottom: 1.5em;
}

.project img {
    max-width: 100%;
    margin-bottom: 1.5em;
    border-radius: 15px;
    box-shadow: 9px 9px 30px rgba(0, 0, 0, 0.1);
}

.project a {
    color: var(--midgrey);
    font-size: 1.2em;
}