@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #9251F7;
  --text: #2E2E48;
  --lightgrey: #F7F9FC;
  --midgrey: #79819A;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: var(--text);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-top: 20px solid var(--primary);
  border-bottom: 20px solid var(--primary);
  height: 100%;
}

html, body, #root {
  min-height: 100%;
}

.highlight {
  color: var(--primary);
}

.title {
 font-size: 2em;
 font-weight: 700;
 padding-top: .5em;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 18px;
}

.flex-container svg {
  width: 35px;
}